.block_portfolio_mother{
           width: 100%;
        height:100%;
        background: #eaeaea;
    }
.block_mother_conteiner{
    width: 90%;
    height: 90%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.block_portfolio > h3{
    font-size: 8vmin;
    padding: 50px 0px;
    text-align: center;
}
.block_mother_box h3{
font-size: 24px;
margin:10px 0px;
}
.block_mother_box p{
    font-size: 22px;
    margin:10px 0px;
    }
    .block_mother_conteiner a{
        text-decoration: none;
        color:rgb(178, 35, 60);
        border:2px solid rgb(178, 35, 60);
        padding:10px 20px;
        align-self: flex-start;
        margin:20px 20px;
        transition: .6s;
        text-transform: uppercase;
    }
    .block_mother_conteiner a:hover{
        background:rgb(178, 35, 60);
       color:white;
    }